<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/tictactoe">TIC TAC TOE</a></li>
  <li><a href="/breaker">Brick Breaker</a></li>
  <li><a href="/insertionSort">Insertion Sort</a></li>
</ul>