{{!-- 
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Steven</h3>
          <p>lastName = nullptr;</p>
      </div>
      
      <ul class="list-unstyled components">
          
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="#profileSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profile</a>
              <ul class="collapse list-unstyled" id="profileSubmenu">
                  <li>
                      <a href="/resume">Resume</a>
                  </li>
                  <li>
                      <a href="/coop">Work Experiences</a>
                  </li>
                  <li>
                      <a href="/clubs">Clubs and Activities</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/contacts">Contact Me</a>
          </li>
          <li>
              <a href="#processingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Processing Projects</a>
              <ul class="collapse list-unstyled" id="processingSubmenu">
                  <li>
                      <a href="/tictactoe">Tic Tac Toe</a>
                  </li>
                  <li>
                      <a href="/breaker">Brick Breaker</a>
                  </li>
                  <li>
                      <a href="/insertionSort">Insertion Sort Simulator</a>
                  </li>
              </ul>
          </li>
      </ul>
  </nav> --}}
{{!-- visible --}}
<div class="myNavBar ui inverted left vertical menu sidebar">
    <div class="header item">
        All Projects
    </div>
    <div class="ui left pointing dropdown link item">
        <i class="dropdown icon"></i>
        Processing
        <div class="menu">
            <a href="/tictactoe" class="item">Tic Tac Toe</a>
            <a href="/breaker" class="item">Brick Breaker</a>
            <a href="/insertionSort" class="item">Insertion Sort Simulator</a>
        </div>
    </div>
    <a href="/melonbun" class="item">
      MelonBun
    </a>
    <a href="/instabot" class="item">
      Instagram Bot
    </a>
    <a href="/tetris" class="item">
      Tetris with Python
    </a>
</div>
<div class="ui inverted top fixed menu">
    <a class="myMenu item">
        <i class="sidebar icon"></i>
        Project Menu
    </a>
    <a href="/" class="item">
        About Me
    </a>
    <a href="/contacts" class="item">
        Contacts
    </a>
    <a href="/experiences" class="item">
        Experiences
    </a>
    <a href="/resume" class="item">
        Resume
    </a>
    <div class="right item">
      -- Steven --
      </br>
      </br>
      LastName = null;
    </div>
</div>