<!DOCTYPE html>
<html>
<head>
  <title>Steven</title>
  {{>globalScript}}
  
</head>
<body>
  <div class="wrapper">
        {{>navigationBar}}
        <div id="content">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1>{{pageTitle}}</h1>
                </div>
            </div>
            {{!-- {{{contents}}} --}}
            {{>footer}}
        </div>
    </div>

</body>
</html>
