<!DOCTYPE html>
<html>
<head>
  <title>Steven</title>
  {{>globalScript}}
  
</head>
<body>
    {{>navigationBar}}
    <div class="ui fluid main container">
        <div class="ui padded centered grid">
            
            <div class="row">
                <div class="thirteen wide column padded">

                    <!--Menu-->
                    <div class="ui pointing menu">
                        <a class="item active" data-tab="coop">
                            Work Experience
                        </a>
                        <a class="item" data-tab="clubs">
                            Communities & Clubs
                        </a>
                    </div>

                    <div class="ui padded segment">
                        {{!-- {{{contents}}} --}}
                        <div class="ui active tab" data-tab="coop">
                            <!-- Tab Content !-->
                            
                            <div class="ui grid">
                                <div class="four wide column">
                                    <div class="ui vertical fluid tabular menu">
                                    <a class="item" data-tab="intellisoft">
                                        Intellisoft Development Inc (Jan-Apr 2017)
                                    </a>
                                    <a class="item" data-tab="opentext1">
                                        Opentext (Sept-Dec 2017)
                                    </a>
                                    <a class="item" data-tab="opentext2">
                                        Opentext (May-Aug 2018)
                                    </a>
                                    <a class="item active" data-tab="ibm">
                                        IBM (Jan-Apr 2019)
                                    </a>
                                    </div>
                                </div>
                                <div class="twelve wide stretched column">
                                    <div class="ui tab segment" data-tab="intellisoft">
                                        <h4 class="ui dividing header">About the Job</h4>
                                        <ul>
                                            <li><b>Team:</b> <pre>(size: 8 including me)</pre></li>
                                            <li><b>Location:</b> <pre>Downtown Toronto</pre></li>
                                            <li><b>My Position Title:</b> <pre>Jr. Developer</pre></li>
                                        </ul>
                                        <h4 class="ui dividing header">Skill Set Learned</h4>
                                        <ul>
                                            <li>JQuery & Vanilla JS</li>
                                            <li>C# .NET</li>
                                            <li>Content Management Systems (CMS)</li>
                                            <li>HTML/CSS</li>
                                            <li>Groovy/Grails</li>
                                        </ul>
                                        <h4 class="ui dividing header">Responsibilities</h4>
                                        <ul>
                                            <li>Built and iterated on the interface of a native app using C# ASP.NET framework and Javascript.</li>
                                            <li>Created .NET handlers to retrieve, sort and filter contents from the CMS.</li>
                                            <li>Make server and client-side web enhancements for George Brown College’s website.</li>
                                        </ul>
                                    </div>
                                    <div class="ui tab segment" data-tab="opentext1">
                                        <h4 class="ui dividing header">About the Job</h4>
                                        <ul>
                                            <li><b>Team:</b> <pre>(size: 1 manager, 4 QA including me)</pre></li>
                                            <li><b>Location:</b> <pre>Waterloo</pre></li>
                                            <li><b>My Position Title:</b> <pre>QA Specialist</pre></li>
                                        </ul>
                                        <h4 class="ui dividing header">Skill Set Learned</h4>
                                        <ul>
                                            <li>Perl</li>
                                            <li>Concepts on Web Security and liscencing</li>
                                            <li>VM Management</li>
                                            <li>Batch Scripting and automation in Windows</li>
                                            <li>Manual Product Testing</li>
                                        </ul>
                                        <h4 class="ui dividing header">Responsibilities</h4>
                                        <ul>
                                            <li>Designed and built a script (Perl) to parse and keep track of 100+ third-party software components from 1000+ xml files, and prints out a dependency tree into a log file.
                                                <ul>
                                                    <li>Programmed a batch file to automate script execution daily for each release branch</li>
                                                    <li>Proposed and built a webpage where users can query a log file by date and the file contents will be fetched and displayed on the page (CGI Perl script, IIS server)</li>
                                                </ul>
                                            </li>
                                            <li>Perform manual tests of OpenText’s Content Server on various VMs, and databases.</li>
                                            <li>Analyze security and licenses of open-source modules used to ensure they are safe for release.</li>
                                        </ul>
                                    </div>
                                    <div class="ui tab segment" data-tab="opentext2">
                                        <h4 class="ui dividing header">About the Job</h4>
                                        <ul>
                                            <li><b>Team:</b> <pre>(size: 1 manager, 12 developers/QA including 5 coops)<br/>Lots of interactions/meetings between different teams and product managers</pre></li>
                                            <li><b>Location:</b> <pre>Waterloo</pre></li>
                                            <li><b>My Position Title:</b> <pre>Software Developer</pre></li>
                                        </ul>
                                        <h4 class="ui dividing header">Skill Set Learned</h4>
                                        <ul>
                                            <li>OScript (Opentext Proprietary Language)</li>
                                            <li>HTML/CSS</li>
                                            <li>JavaScript</li>
                                            <li>Web Accessibity</li>
                                        </ul>
                                        <h4 class="ui dividing header">Responsibilities</h4>
                                        <ul>
                                            <li>Converted OpenText’s Content Server pages to comply with WCAG standards for Web Accessibility. (Programmed in Oscript – Opentext’s proprietary language)</li>
                                            <li>Collaborated with developers to migrate the Content Server architecture into a new framework that improves modularity and consistency throughout the product.</li>
                                        </ul>
                                    </div>
                                    <div class="ui active tab segment" data-tab="ibm">
                                        <h4 class="ui dividing header">About the Job</h4>
                                        <ul>
                                            <li><b>Team:</b> <pre>Client-Success team</br>(size: 8 developers including 2 coops)</pre></li>
                                            <li><b>Location:</b> <pre>North York, Toronto</pre></li>
                                            <li><b>My Position Title:</b> <pre>Core Software Developer</pre></li>
                                        </ul>
                                        <h4 class="ui dividing header">Skill Set Learned</h4>
                                        <ul>
                                            <li>React/Redux</li>
                                            <li>Redux-Thunks and Redux-Sagas</li>
                                            <li>C# .NET</li>
                                            <li>Java</li>
                                            <li>CSS</li>
                                            <li>MYSQL</li>
                                            <li>Tools: 
                                                <ul>
                                                    <li>Tomcat</li>
                                                    <li>Eclipse</li>
                                                    <li>Visual Studio</li>
                                                    <li>VS Code</li>
                                                    <li>Git</li>
                                                    <li>SQL Server Management Studio</li>
                                                    <li>SQl Server Profiler</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <h4 class="ui dividing header">Responsibilities</h4>
                                        <ul>
                                            <li>Worked closely with the development team to resolve regressions and client issues with React/Redux, C#, and Java</li>
                                            <li>Secured API endpoints from modification of read-only input fields</li>
                                            <li>Found and resolved several edge case bugs with rendering a tree of data-source dependencies.</li>
                                            <li>Rewritten and improved the existing code for adding/removing table rows in the local buffer and C# backend</li>
                                            <li>Solved critical errors for sorting rows, locale formatting, switching context of grid frames, etc.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>




                        <div class="ui tab" data-tab="clubs">
                        <!-- Tab Content !-->
                            <div class="ui grid">
                                <div class="four wide column">
                                    <div class="ui vertical fluid tabular menu">
                                        <a class="active item" data-tab="UWRobotics">
                                            UW Robotics (2017-2018)
                                        </a>
                                        <a class="item" data-tab="TableTennis">
                                            UW Table Tennis Club
                                        </a>
                                    </div>
                                </div>
                                <div class="twelve wide stretched column">
                                    <div class="ui active tab segment" data-tab="UWRobotics">
                                        <h4 class="ui dividing header">About</h4>
                                        <p>I volunteered as a member of the Electrical Subteam of the UW Robotics Design Team. (From Sept 2017 to Aug 2018)</p>
                                        <p>The whole design team consists of many subteams such as Science, Firmware/Software, Electrical and Mechanical.</p>
                                        <p>We all work together to build a Mars Rover that <a target="_blank" href="https://uwaterloo.ca/sedra-student-design-centre/events/2018-university-rover-challenge">competes in URC(University Rover Challenge)</a> that takes place every year.</p>
                                        <h4 class="ui dividing header">Responsibilities</h4>
                                        <ul>
                                            <li>Designed and assembled a switching buck regulator IC circuit.</li>
                                            <li>Learned to solder, debug circuit problems, wiring together PCB boards, and placing SMD components onto solder paste in a reflow soldering process.</li>
                                        </ul>
                                    </div>
                                    <div class="ui tab segment" data-tab="TableTennis">
                                        <h4 class="ui dividing header">Highlights</h4>
                                        <ul>
                                            <li>2 hours of Table Tennis every week.</li>
                                            <li>Members come in and play with each other, to practice and learn new techniques.</li>
                                            <li>Get more confortable with different playing styles by actively challenging other people to play</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}

</body>
</html>
