<!DOCTYPE html>
<html>
<head>
  <title>Sketch_Book</title>
  {{>globalScript}}
  
</head>
<body>
  {{>navigationBar}}
  <div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <h1>{{pageTitle}}</h1>
    {{{contents}}}
    {{>footer}}
  </div>

</body>
</html>
