<!DOCTYPE html>
<html>
<head>
  <title>Steven</title>
  {{>globalScript}}
  <script> var processingFolderPath = "/processing_files/tictactoe/" </script>
  <script type="text/javascript" src="processing_files/processing.js"></script>
</head>
<body>
        {{>navigationBar}}
        <div class="ui fluid main container">
            <div class="ui padded centered grid">
                <div class="row">
                    <div class="eight wide column padded">
                        <div class="ui padded segment">
                            <h2 class="ui dividing header">
                                {{pageTitle}}
                                <p>Github: <a target="_blank" href={{github}}>{{github}}</a></p>
                            </h2>
                            <center>
                                <canvas data-processing-sources={{processingPdeFile}}></canvas>
                            </center>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
</body>
</html>