.ui.sidebar {
    overflow: visible !important;
}

.header.item {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5em;
}

.main.container {
    padding-top: 100px;
}

.myStackableColumn {
    margin-top: 0px !important;
}